.admindashboard-container h2 {
  color: #65bd60;
  font-size: calc(var(--font-size) * 1.6);
  text-align: center;
  margin-top: 1em;
}

.admindashboard-container ul {
  text-decoration: none;
}

.usersearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.usersearch input {
  text-align: center;
  margin-top: 1em;
  width: 60%;
  border: 1px solid orange;
  border-radius: 10px;
  padding: 0.2em;
}

@media screen and (min-width: 750px) {
  h2 {
    font-size: calc(var(--font-size) * 2.4);
  }

  .usersearch input {
    text-align: center;
    margin-top: 1em;
    width: 30%;
    padding: 0.5em;
    font-size: 1em;
  }
}
