.filecard,
.filecard_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.filecard_details {
  border: 1px solid #65bd60;
  border-radius: 5px;
  padding: 0.8em 0 0.8em 0.4em;
  width: 95%;
  height: auto;
  background-color: var(--grey-background);
  color: black;
  margin-top: 1em;
}

.filecard_details:nth-last-child(n) {
  margin-bottom: 1em;
}

.filecard_summary {
  font-weight: bold;
  margin: -0.5em -0;
  font-size: 1em;
}

.filecard_details p {
  margin-bottom: 1em;
}

.filecard_link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filecard_link button {
  font-size: 0.9em;
  width: 8em;
  background-color: var(--navbar-color);
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.4em;
  margin-top: 2em;
}

.filecard_link button:hover {
  cursor: pointer;
  border: 2px solid var(--navbar-color);
  color: var(--navbar-color);
  background-color: white;
  transition: 0.5s;
}

@media screen and (min-width: 750px) {
  .filecard_details {
    width: 70%;
  }

  .filecard_link a {
    font-size: 1em;
  }
}
