.filecard,
.filecard_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.filecard_details {
  border: 1px solid #65bd60;
  border-radius: 5px;
  padding: 0.8em 0 0.8em 0.4em;
  width: 95%;
  height: auto;
  background-color: var(--grey-background);
  color: black;
  margin-top: 1em;
}

.filecard_details:nth-last-child(n) {
  margin-bottom: 1em;
}

.filecard_summary {
  font-weight: bold;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  font-size: 1.4rem;
}

.filecard_details p {
  margin-bottom: 1em;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.filecard_link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2.4rem;
}

.filecard_link button {
  font-size: 0.9em;
  width: 8em;
  background-color: var(--navbar-color);
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 0.4em;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 1rem;
  border: 2px solid var(--navbar-color);
}

#delete_btn {
  background-color: var(--delete-color);
  border: 2px solid var(--delete-color);
}

#delete_btn:hover {
  background-color: var(--delete-color);
  border: 2px solid var(--delete-color);
  color: var(--delete-color);
  background-color: white;
  transition: 0.5s;
}

.filecard_link button:hover {
  cursor: pointer;
  border: 2px solid var(--navbar-color);
  color: var(--navbar-color);
  background-color: white;
  transition: 0.5s;
}

@media screen and (min-width: 750px) {
  .filecard_details {
    width: 70%;
  }

  .filecard_link a {
    font-size: 1em;
  }
}

.file-card-entitled {
  font-weight: 600;
}

.file-card-category {
  font-style: italic;
}

.file-card-initial-cost {
  color: orange;
  font-weight: bold;
}

#modify-button {
  background-color: orange;
  border: 2px solid orange;
}

#modify-button:hover {
  background-color: orange;
  border: 2px solid orange;
  color: orange;
  background-color: white;
  transition: 0.5s;
}
