.footer {
  background-color: var(--navbar-color);
  top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer .reseauxsociaux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.footer .reseauxsociaux a {
  padding: 0 0.5em 0 0.5em;
  margin: 0;
}

.footer .copyright-un,
.footer .copyright-deux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 0.7em;
  padding-bottom: 0.2em;
}

.copyright-un .colorfooter,
.copyright-deux .colorfooter {
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  font-weight: 900;
  margin-left: 0.3em;
}

.colorfooter {
  padding-bottom: 0;
}

.colorfooter:hover {
  color: black;
  transition: 0.6s;
}

@media screen and (min-width: 760px) {
  .footer .reseauxsociaux a {
    padding: 0 1em 0 1em;
  }

  .footer {
    top: 12rem;
    position: relative;
  }

  .reseauxsociaux a {
    padding: 0 0.2em 0 0.2em;
  }

  .footer .copyright-un,
  .footer .copyright-deux {
    font-size: 1.4em;
  }

  .copyright-un .colorfooter,
  .copyright-deux .colorfooter {
    font-size: 1.05em;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    position: relative;
    top: 12rem;
  }
}
