.footer {
  background-color: var(--navbar-color);
  top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer .reseauxsociaux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.footer .reseauxsociaux a {
  padding: 0 0.5em 0 0.5em;
  margin: 0;
}

.footer .copyright-un,
.footer .copyright-deux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 0.7em;
  padding-bottom: 0.2em;
}

.copyright-un .colorfooter,
.copyright-deux .colorfooter {
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  font-weight: 900;
  margin-left: 0.3em;
}

.colorfooter {
  padding-bottom: 0;
}

.colorfooter:hover {
  color: black;
  transition: 0.6s;
}

/* CSS page Legal notice */
.mentionslegales-div {
  width: 90%;
  margin: auto;
}

.mentionslegales-div h1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.mentionslegales-div h2 {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

section {
  margin-top: 2rem;
}

.mentionslegales-div p {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

/* CSS page wilders */

.wilders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.div-img-wilders {
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-around;
  flex-flow: wrap;
}
.div-img-wilders img {
  width: 21rem;
  margin-bottom: 2rem;
}

.wilders h2 {
  padding-top: 4rem;
  font-size: 2em;
  text-align: center;
  margin: 2rem 0;
}

.wilders p {
  font-size: larger;
  text-align: center;
  margin: 1em 0;
}

@media screen and (min-width: 760px) {
  .footer .reseauxsociaux a {
    padding: 0 1em 0 1em;
  }

  .footer {
    top: 12rem;
    position: relative;
  }

  .reseauxsociaux a {
    padding: 0 0.2em 0 0.2em;
  }

  .footer .copyright-un,
  .footer .copyright-deux {
    font-size: 1.4em;
  }

  .copyright-un .colorfooter,
  .copyright-deux .colorfooter {
    font-size: 1.2em;
  }

  .wilders h2 {
    padding-top: 5rem;
    font-size: -webkit-xxx-large;
  }

  .wilders p {
    margin: 2em 0;
  }

  .div-img-wilders img {
    width: 25em;
    height: 32em;
    border-radius: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    position: relative;
    top: 12rem;
  }
}
