.button-deconnectmember {
  width: 8rem;
  font-size: 1rem;
  height: 2rem;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: orange;
  cursor: pointer;
}

.button-deconnectmember:hover {
  color: orange;
  background-color: white;
  transition: 0.5s;
}
