.div-nav {
  display: flex;
  background-color: var(--navbar-color);
  justify-content: space-between;
}

.div-sellectlogo {
  padding-left: 0.2rem;
}

.img-sellectlogo {
  display: flex;
  height: 10vh;
}

.img-hamburger {
  width: 4rem;
  cursor: pointer;
}

.btn-toggle {
  display: contents;
  cursor: pointer;
}

.img-hamburger:hover {
  width: 4rem;
  height: 3rem;
  cursor: pointer;
}

.div-ul {
  justify-content: center;
  background-color: var(--navbar-color);
}

.liste-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 0.5em;
}

.items,
a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: 900;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.items:hover {
  color: black;
}

.div-ul a:hover {
  color: black;
}

.items-activated {
  cursor: pointer;
  color: black;
  font-weight: 900;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 1.8rem;
}

.button-member {
  background-color: orange;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  color: white;
  border: 2px solid var(--navbar-color);
  font-weight: 500;
  font-size: calc(var(--font-size) * 0.6);
  padding: 0 0.5em 0 0.5em;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.button-connect {
  color: #65bd60;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  border: 2px solid var(--navbar-color);
  font-weight: 500;
  font-size: calc(var(--font-size) * 0.6);
  padding: 0 0.5em 0 0.5em;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.button-member:hover {
  cursor: pointer;
  color: orange;
  border-color: var(--navbar-color);
  background-color: white;
  transition: 0.5s;
}

.button-connect:hover {
  cursor: pointer;
  color: orange;
  border-color: #65bd60;
  background-color: white;
  transition: 0.5s;
}

@media screen and (min-width: 750px) {
  .div-nav {
    height: 12vh;
  }
  .img-sellectlogo {
    height: 13vh;
  }

  .btn-toggle {
    display: none;
  }
  .liste-nav {
    flex-direction: row;
    align-items: center;
    width: 80%;

    position: absolute;
    left: 3rem;
    top: 3rem;
    display: flex;
    justify-content: center;
    height: auto;
  }

  nav .items,
  a {
    font-weight: 900;
    margin-left: 2rem;
    font-size: 1.5rem;
  }

  .items-activated,
  a {
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  .btn-div {
    position: absolute;
    right: 1rem;
    top: 2.8rem;
    flex-direction: column;
  }

  .button-member {
    height: 2rem;
    font-size: calc(var(--font-size) * 0.8);
  }

  .button-connect {
    height: 2rem;
    font-size: calc(var(--font-size) * 0.8);
    margin: 0 1em 0 1em;
  }
}

@media screen and (min-width: 1100px) {
  .btn-div {
    flex-direction: row;
  }
}
