.container-referralcode h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.container-referralcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 4rem;
}

.inputbutton-referralcode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-referralcode {
  height: 10rem;
  width: -webkit-fill-available;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  border: 3px solid rgb(190, 190, 190);
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 900;
  color: rgb(190, 190, 190);
}

.btn-referralcode {
  height: 3rem;
  width: 10rem;
  font-size: 1.5rem;
  background-color: var(--navbar-color);
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
}

.qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrcode img {
  width: 40vh;
}

.referral-flex {
  margin-top: 1rem;
}
/**.qrcode img {
  width: max-content;
}*/

.qrcode a {
  height: 3rem;
  width: 10rem;
  font-size: 1.5rem;
  background-color: var(--navbar-color);
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 0px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .referral-flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
  }
  .input-referralcode {
    width: auto;
    margin-top: auto;
  }
  .qrcode {
    display: flex;
  }

  .btn-referralcode {
    display: block;
    justify-content: center;
  }

  .qrcode img {
    height: 30vh;
  }
}

@media screen and (min-width: 1200px) {
  .qrcode img {
    height: 24vh;
  }
}

.sponsor_instructions_container {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.sponsor_instructions_content {
  margin-left: 2rem;
  margin-top: 1rem;
}

.sponsor_instructions_container h2,
.sponsor_instructions_content li {
  color: var(--navbar-color);
}

.sponsor_instructions_content li {
  margin-top: 1rem;
}

.container-referralcode span {
  color: var(--navbar-color);
}
