.carousel-root {
  width: 100%;
  margin: auto;
  height: 54vh;
}

.carousel-div {
  display: flex;
  flex-direction: column;
}

.carousel-div h1 {
  color: #65bd60;
  font-size: calc(var(--font-size) * 1.6);
  text-align: center;
}

.carousel-div .img1 {
  display: none;
}

.img-carousel-div {
  display: flex;
  justify-content: center;
  height: 20rem;
}

.carousel .carousel-status {
  display: none;
}

.carousel .slide img {
  width: 90%;
  position: absolute;
  bottom: 0.6rem;
}

.carousel .thumbs {
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.carousel .thumb {
  margin: 1rem;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  height: 20rem;
}

.carousel .overlay h2 {
  color: black;
  margin-top: 0.6em;
}

.carousel .overlay a {
  color: black;
}

.carousel .overlay {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: fit-content;
}

.carousel.carousel-slider .control-arrow {
  background-color: #65bd60;
  position: absolute;
  bottom: 1rem;
  padding: 5px;
  height: 3rem;
  margin: auto;
}

.carousel .control-dots {
  position: absolute;
  bottom: 4rem;
  margin: 10px 0;
  color: black;

  text-align: center;
  width: 100%;
  z-index: 1;
}

.carousel a {
  font-size: x-large;
  color: black;
  cursor: pointer;
}

@media screen and (min-width: 450px) {
  .carousel-root {
    height: 31rem;
    padding-top: 4vh;
    height: 71vh;
  }

  .carousel .slide img {
    height: 40rem;
    width: 100%;
    margin: auto;
  }

  .carousel .slider-wrapper.axis-horizontal .slider .slide {
    height: 34rem;
  }

  .img-carousel-div {
    height: 33rem;
  }

  .carousel .thumbs {
    position: absolute;
    bottom: 5rem;
  }

  .carousel .control-dots {
    position: absolute;
    top: 22rem;
  }

  .carousel .overlay {
    height: fit-content;
  }
  .carousel .overlay h2 {
    font-size: xx-large;
  }

  .carousel .overlay a {
    font-size: xx-large;
  }
}

@media all and (device-width: 768px) {
  .carousel-div .img1 {
    height: 22vh;
  }
  .carousel-root {
    height: 52vh;
  }
}

@media all and (device-width: 540px) {
  .carousel-root {
    height: 70vh;
  }
}

@media all and (device-width: 820px) {
  .carousel-div .img1 {
    height: 11rem;
  }
  .carousel-root {
    height: 46vh;
  }
}

@media all and (device-width: 912px) {
  .carousel-div .img1 {
    height: 11rem;
  }
  .carousel-root {
    height: 40vh;
  }
}

@media all and (device-width: 1280px) {
  .carousel-root {
    height: 65vh;
  }
}

@media all and (device-width: 1024px) {
  .carousel-root {
    height: 85vh;
  }
}
@media screen and (min-width: 1100px) {
  .carousel-div .img1 {
    height: 37vh;
    width: 25%;
    margin: auto;
    height: auto;
  }

  .carousel-root {
    margin: 2em 0;
    width: 75%;
    height: 100vh;
  }

  .carousel-div {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 100%;
  }

  .carousel-div h1 {
    margin: 1.2em;
    font-size: calc(var(--font-size) * 2.2);
  }

  .img-carousel-div {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
  }

  .img-carousel-div img {
    width: 100%;
  }

  .carousel .carousel-status {
    display: none;
  }

  .carousel .slide img {
    height: 40rem;
    width: 100%;
    margin: auto;
  }

  .carousel .overlay {
    width: 80%;
    position: absolute;
  }

  .carousel .overlay h2 {
    font-size: xx-large;
  }

  .carousel .overlay a {
    font-size: xx-large;
  }

  .carousel.carousel-slider .control-arrow {
    bottom: 5rem;
    padding: 5px;
    height: 3rem;
    margin: auto;
  }
}
