.link-trustpilot {
  color: black;
  cursor: pointer;
  font-size: 1.1rem;
}

.link-trustpilot:hover {
  color: var(--navbar-color);
  cursor: pointer;
  font-size: 1.1rem;
}

.div-trustpilot {
  width: -webkit-fill-available;
}

.div-trustpilot .p-trustpilot {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .div-trustpilot .p-trustpilot {
    margin-top: 3rem;
  }
}
