.div-updateuseraccount {
  margin: auto;
  width: fit-content;
  padding-top: 2rem;
}

.title-updateuseraccount {
  font-weight: 900;
  text-align: center;
  margin-top: 0.2rem;
  text-decoration: underline;
}

.updateimg {
  display: none;
}

.updateimg img {
  width: 180px;
  height: 120px;
}

@media screen and (max-width: 375px) {
  .div-updateuseraccount {
    height: 79vh;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .title-updateuseraccount {
    margin-bottom: 2em;
    width: 100%;
  }

  .updateuseraccount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 5em;
  }

  .div-updateuseraccount {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .modalaccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .updateimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .updateimg img {
    width: 50em;
    height: 40em;
    margin: 0.8em 1em;
  }
}
