.div-updateuseraccount {
  margin: auto;
  width: fit-content;
  height: 75vh;
}

.title-updateuseraccount {
  font-weight: 900;
  text-align: center;
  margin-top: 0.5rem;
  text-decoration: underline;
}

.updateimg {
  display: none;
}

.updateimg img {
  width: 180px;
  height: 120px;
}

@media screen and (min-width: 768px) {
  .updateimg {
    display: block;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .updateimg img {
    width: 480px;
    height: 300px;
    margin: 0.8em 5em;
  }
}
