h2 {
  margin: 0.5rem;
}

.form-updatepassword {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.form-updatepassword input {
  display: flex;
  flex-direction: column;
  margin: 0.9rem;
  padding-left: 0.3rem;
  width: 12rem;
  font-size: 0.8em;
  text-align: center;
  border: 1px solid orange;
  border-radius: 20px;
  padding: 0.2em;
  cursor: pointer;
}

.form-updatepassword button {
  margin: auto;
  margin-top: 0.5rem;
  height: 2.6rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: var(--navbar-color);
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;

}




@media screen and (min-width: 768px) {
  .form-updatepassword {
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
  }

  h2{
    margin-top: 1em;
  }

.form-updatepassword input {
  width: 16rem;
  font-size: 1em;
  padding: 0.4em;
}
}
