h2 {
  margin: 0.5rem;
}

.form-updatepassword {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.form-updatepassword input {
  display: flex;
  flex-direction: column;
  margin: 0.9rem;
  padding-left: 0.3rem;
  width: -webkit-fill-available;
  font-size: 1.1rem;
}

.form-updatepassword button {
  margin: auto;
  margin-top: 0.5rem;
  height: 2.6rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: var(--navbar-color);
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
}
