.removepw {
  margin-top: 2.5em;
  font-size: 1.2em;
}

.form-updatepassword {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.form-updatepassword input {
  display: flex;
  flex-direction: column;
  margin: 0.9rem;
  padding-left: 0.3rem;
  width: 12rem;
  font-size: 0.8em;
  text-align: center;
  border: 1px solid orange;
  border-radius: 20px;
  padding: 0.2em;
  cursor: pointer;
}

.form-updatepassword button {
  width: 8em;
  font-size: 1rem;
  background-color: var(--navbar-color);
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.4em;
  margin-top: 0.2em;
}

.form-updatepassword button:hover {
  cursor: pointer;
  border: 2px solid var(--navbar-color);
  color: var(--navbar-color);
  background-color: white;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .form-updatepassword {
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
  }

  .removepw {
    margin-top: 1em;
    font-size: 1.6em;
  }

  .form-updatepassword input {
    width: 16rem;
    font-size: 1em;
    padding: 0.4em;
  }

  .form-updatepassword button {
    margin-left: 3em;
  }
}
