.delete-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  border: 6px solid var(--navbar-color);
  border-radius: 25px;
  background-color: var(--page-background-color);
  color: var(--navbar-color);
  height: 20vh;
  min-height: 12rem;
  width: 20vw;
  min-width: 16rem;
}

.delete-modal-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
}

.delete-modal-close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  padding-right: 1rem;
  padding-top: 0.2rem;
  color: var(--navbar-color);
}

.delete-modal-close-button:hover {
  color: orange;
}

.delete-modal-header {
  display: flex;
  justify-content: flex-end;
}

.delete-modal-message {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.6rem;
}
